/* DEVELOPER: Abdelmalek Benaissa, IS 117-001, Fall 2022 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    min-width: 340px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    height: 1050px;
}


footer {
    position: fixed;
    background-color: #1E293B;
    color: whitesmoke;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}